﻿<div class="col-md-12">
    <div class="row">
        <div class="col-xs-3"><fusion-back-button on-click="GoBack()"></fusion-back-button></div>
        <div class="col-xs-9"><div class="page-title">Purchase Order</div></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">


        <div class="panel panel-default">
            <div class="panel-heading">Supplier</div>
            <div class="panel-body">

                <fusion-supplier-auto-complete ng-show="allowEdit" on-account-selected="onSupplierAccountSelected"></fusion-supplier-auto-complete>

                <div class="spacer5"></div>

                <div class="dx-field-value-static dx-field-value-vertical value-lable-data"
                ng-show="purchaseOrder.hasSupplier()">
                {{purchaseOrder.supplier.supplierName}} ({{purchaseOrder.supplier.supplierAccountCode}})
            </div>
            <div class="dx-field-value-static dx-field-value-vertical value-lable-data"
            ng-show="!purchaseOrder.hasSupplier()">
            Please select supplier
        </div>

        <div class="spacer5"></div>
        <div dx-tabs="addressTab.addressTabSettings"></div>
        <div ng-if="selectedAddressTab == 0">
            <div class="tabContent">
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLine1"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLine2"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLine3"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLine4"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLine5"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.streetAddressLinePostalCode"></fusion-text-editor>
            </div>
        </div>
        <div ng-if="selectedAddressTab == 1">
            <div class="tabContent">
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLine1"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLine2"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLine3"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLine4"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLine5"></fusion-text-editor>
                <fusion-text-editor edit-model="purchaseOrder.supplier.postalAddressLinePostalCode"></fusion-text-editor>
            </div>
        </div>
    </div>
</div>

</div>

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">Order ({{GetPurchaseOrderNumberDisplay()}})</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <fusion-text-label-editor caption="Description" max-length="40" edit-model="purchaseOrder.purchaseOrderDescription"></fusion-text-label-editor>
                </div>

            </div>

            <div ng-show="enterManualPurchaseOrderNumber">
                <div class="row">
                    <div class="col-lg-6">
                        <fusion-text-label-editor caption="Purchase Order Number" max-length="50" placeholder="Enter purchase order number" edit-model="purchaseOrder.purchaseOrderNumber"></fusion-date-label-editor>
                        </div>

                        <div class="col-lg-6">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="spacer5"></div>
                    <div class="col-lg-6">
                        <fusion-date-label-editor caption="Order date" edit-model="purchaseOrder.orderDate"></fusion-date-label-editor>
                    </div>

                    <div class="col-lg-6">
                        <fusion-date-label-editor caption="Due date" edit-model="purchaseOrder.dueDate"></fusion-date-label-editor>
                    </div>

                </div>

                <div ng-show="allowProjectEntry">
                    <div class="row">
                        <div class="col-xs-12">
                            <fusion-project-label-lookup caption="Project"
                            on-project-changed="purchaseOrder.onProjectChanged()"
                            selected-project="purchaseOrder.SelectedProject"></fusion-project-label-lookup>
                        </div>
                    </div>
                </div>

                <div ng-show="allowIncidentTypeEntry">
                    <div class="row">
                        <div class="col-xs-12">
                            <fusion-incident-type-label-lookup caption="Incident Type Override"
                            on-incident-type-changed="purchaseOrder.onIncidentTypeChanged()"
                            selected-incident-type="purchaseOrder.SelectedIncidentType"></fusion-incident-type-label-lookup>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <fusion-text-label-editor caption="Message" max-length="255" edit-model="purchaseOrder.purchaseOrderMessageLine1"></fusion-text-label-editor>
                            <fusion-text-editor caption="" max-length="255" edit-model="purchaseOrder.purchaseOrderMessageLine2"></fusion-text-editor>
                            <fusion-text-editor caption="" max-length="255" edit-model="purchaseOrder.purchaseOrderMessageLine3"></fusion-text-editor>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-xs-12"><div class="spacer10"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <fusion-button ng-show="allowEdit"
                        text="Save Order"
                        icon="save"
                        button-disabled="DisablePlacePurchaseOrderButton"
                        on-click="PlacePurchaseOrder()"></fusion-button>

                    </div>
                    <div class="col-xs-4 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-right">
                        <fusion-button icon="doc"
                        hint="Print purchase order"
                        button-disabled="purchaseOrder.status.purchaseOrderApprovalStatusId != 2"
                        on-click="printPurchaseOrder(purchaseOrder)"></fusion-button>
                        <fusion-button icon="email"
                        hint="Email purchase order"
                        button-disabled="purchaseOrder.status.purchaseOrderApprovalStatusId != 2"
                        on-click="emailPurchaseOrder(purchaseOrder)"></fusion-button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div class="row"
ng-show="!purchaseOrder.hasSupplier()">
<div class="col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Before you can start adding lines you need to select a supplier.
        </div>
    </div>
</div>
</div>

<div ng-show="purchaseOrder.hasSupplier()">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">Order Lines</div>
                        <div class="col-sm-6 text-right">
                            <!--<fusion-add-button text="Add Item Line" on-click="addInventoryLine()"></fusion-add-button>-->
                            <fusion-add-button ng-show="allowEdit" text="Add GL Line" on-click="addGeneralLedgerLine()"></fusion-add-button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div dx-data-grid="purchaseOrderLinesGridSettings">
                        <div data-options="dxTemplate:{ name:'purchaseOrderLineCellTemplate' }">

                            <div class="row">
                                <div class="col-md-10">
                                    <div ng-class="{'deleted-object text-muted small': data.isDeleted}">
                                        <span class="text-info">{{data.Description}} ({{data.selectedAccountCode()}})</span><br />
                                        {{data.OrderQuantity | InventoryQuantityFilter}} at {{data.UnitPriceExVAT | InventoryCostPriceFilter| CurrencyFilter:data.purchaseOrder.supplier.currencyId}} less discount of {{data.LineDiscountPercentage}}% = {{data.LineNetTotalExVAT() | InventoryCostPriceFilter| CurrencyFilter:data.purchaseOrder.supplier.currencyId}}
                                        <span ng-show="$parent.EnforceBudgets(data)" ng-class="$parent.BudgetMessageClass(data)"> &nbsp;{{$parent.BudgetMessage(data)}}&nbsp; </span>
                                    </div>
                                    <div ng-if="data.hasLineNote() && !data.isDeleted">
                                        <small>
                                            <span class="text-muted"
                                            ng-bind-html="data.LineNote | ParagraphFormatFilter">
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <fusion-edit-button ng-show="!data.isDeleted" on-click="$parent.EditOrderLine(data)"></fusion-edit-button>
                                <span ng-show="$parent.allowEdit">
                                    <fusion-delete-button ng-show="!data.isDeleted" on-click="$parent.DeleteOrderLine(data)"></fusion-delete-button>
                                    <fusion-undo-button ng-show="data.isDeleted" hint="Un-delete" on-click="$parent.UnDeleteOrderLine(data)"></fusion-undo-button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-7 col-md-8">
        <fusion-file-attachments-panel linked-files="purchaseOrder.attachments" allow-modify="allowEdit"></fusion-file-attachments-panel>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4">
        <div class="totals-table">
            <table>
                <tr>
                    <td>
                        <fusion-total-value-label caption="Sub-total">{{purchaseOrder.purchaseOrderSubTotalExVAT | InventoryCostPriceFilter | CurrencyFilter:purchaseOrder.supplier.currencyId}}</fusion-total-value-label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <fusion-total-value-label caption="Discount">{{purchaseOrder.purchaseOrderDiscountTotalExVat | InventoryCostPriceFilter | CurrencyFilter:purchaseOrder.supplier.currencyId}}</fusion-total-value-label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <fusion-total-value-label caption="Net">{{purchaseOrder.purchaseOrderNetTotal | InventoryCostPriceFilter | CurrencyFilter:purchaseOrder.supplier.currencyId}}</fusion-total-value-label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <fusion-total-value-label caption="Tax">{{purchaseOrder.purchaseOrderTaxTotal | InventoryCostPriceFilter | CurrencyFilter:purchaseOrder.supplier.currencyId}}</fusion-total-value-label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <fusion-total-value-label caption="Total">{{purchaseOrder.purchaseOrderTotalInVAT | InventoryCostPriceFilter | CurrencyFilter:purchaseOrder.supplier.currencyId}}</fusion-total-value-label>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

</div>
<div class="spacer50"></div>

<fusion-edit-general-ledger-line allow-edit="allowEdit" general-ledger-line-settings="generalLedgerLineSettings"></fusion-edit-general-ledger-line>



