
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 page-title">
        Select branch
    </div>
</div>



<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="list-group select-list">
            <a ng-click="selectBranchCtrl.selectBranch($index)" 
               class="list-group-item" 
               ng-repeat="branch in selectBranchCtrl.branchList">{{branch.branchName}} [{{branch.branchCode}}]<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
        </div>
    </div>
</div>