﻿<div class="col-md-12">
    <div class="page-title">Inventory Item</div>
</div>

<div dx-tabs="tabSettings"></div>

<div ng-if="selectedTab == 0">
    <div class="tabContent">

        <div class="row">
            <div class="col col-sm-12">
                <div dx-text-box="searchBoxSettings"></div>
            </div>
        </div>
        <div class="row" ng-if="resultCount>0">
            <div class="col col-sm-12">
                <div class="dx-field-label">Found: {{resultCount}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div class="spacer15"></div>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div dx-data-grid="searchGridSettings"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="selectedTab == 1">
    <div class="tabContent">

        <div class="row" ng-if="detailTabData.itemId <= 0">
            <div class="col-sm-6">
                No item selected. Please use the seach tab to find the item you would like to see.
            </div>
        </div>
        <div ng-if="detailTabData.itemId > 0">
            <div class="row">
                <div class="col-sm-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">Item Profile</div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover">
                                <tbody>
                                    <tr><td>Code</td><td>{{::detailTabData.inventoryItem.itemCode}}</td></tr>
                                    <tr><td>Description 1</td><td>{{::detailTabData.inventoryItem.description1}}</td></tr>
                                    <tr><td>Description 2</td><td>{{::detailTabData.inventoryItem.description2}}</td></tr>
                                    <tr><td>Description 3</td><td>{{::detailTabData.inventoryItem.description3}}</td></tr>
                                    <tr ng-if="detailTabData.inventoryItem.itemGroupCode !== ''"><td>Group</td><td>{{::detailTabData.inventoryItem.itemGroupName}} ({{::detailTabData.inventoryItem.itemGroupCode}})</td></tr>
                                    <tr><td>Warehouse Item</td><td>{{::detailTabData.inventoryItem.isWarehouseItem | BooleanYesNoFilter}}</td></tr>
                                    <tr><td>Service Item</td><td>{{::detailTabData.inventoryItem.isServiceItem | BooleanYesNoFilter}}</td></tr>
                                    <tr ng-if="detailTabData.inventoryItem.packCode !== ''"><td>Pack</td><td>{{::detailTabData.inventoryItem.packDescription}} ({{::detailTabData.inventoryItem.packCode}})</td></tr>
                                    <tr ng-if="detailTabData.inventoryItem.stockingUomCode !== ''"><td>Stocking UOM</td><td>{{::detailTabData.inventoryItem.stockingUomDescription}} ({{::detailTabData.inventoryItem.stockingUomCode}})</td></tr>
                                    <tr ng-if="detailTabData.inventoryItem.purchasingUomCode !== ''"><td>Purchase UOM</td><td>{{::detailTabData.inventoryItem.purchasingUomDescription}} ({{::detailTabData.inventoryItem.purchasingUomCode}})</td></tr>
                                    <tr ng-if="detailTabData.inventoryItem.sellingUomCode !== ''"><td>Selling UOM</td><td>{{::detailTabData.inventoryItem.sellingUomDescription}} ({{::detailTabData.inventoryItem.sellingUomCode}})</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Quantities</div>
                        <div class="panel-body">
                            <div dx-data-grid="quantitiesGridSettings"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pricing</div>
                        <div class="panel-body">
                            <div dx-data-grid="pricingGridSettings"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="spacer50"></div>
