﻿<div class="row">
    <div class="col-xs-12">
        <div class="page-title">View All Authorisations</div>
    </div>
</div>

<!-- Incident list view -->
<div class="row">

    <div class="col-xs-12 col-md-12">
        <div dx-data-grid="allAuthorisationsGridSettings"></div>
    </div>

</div>

<div class="spacer50"></div>

<!-- Incident detail view popup -->
<div dx-popup="viewIncidentPopupSettings">
    <div data-options="dxTemplate:{ name: 'content'}">
        <div dx-scroll-view>

            <!-- Incident -->
            <div class="row">

                <div class=" col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Incident ({{currentIncident.incidentNumber}})</div>
                        <div class="panel-body">

                            <table class="table table-condensed table-hover">
                                <tbody>
                                    <tr><td>Created</td><td>{{currentIncident.dateCreated | FusionDateTime}}</td></tr>
                                    <tr><td>Last modified</td><td>{{currentIncident.dateLastModified | FusionDateTime}}</td></tr>
                                    <tr><td>Due date</td><td>{{currentIncident.dueDate | FusionDateTime}}</td></tr>
                                    <tr><td>Priority</td><td>{{currentIncident.incidentPriority}}</td></tr>
                                    <tr><td>Current Agent</td><td>{{currentIncident.currentAgentName}}</td></tr>
                                    <tr><td>Incident Type</td><td>{{currentIncident.incidentTypeDescription}}</td></tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            <span ng-class="incidentStatusClass(currentIncident.incidentStatusId)">{{currentIncident.incidentStatus}}</span>
                                        </td>
                                    </tr>
                                    <tr><td>Outline</td><td>{{currentIncident.incidentOutline}}</td></tr>
                                    <tr><td>Incident Id</td><td>{{currentIncident.incidentId}}</td></tr>

                                    <tr><td>Purchase Order</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderNumber}}</td></tr>
                                    <tr>
                                        <td>Approval Status</td>
                                        <td><span ng-class="purchaseOrderApprovalStatusClass(currentIncident.purchaseOrder.header.purchaseOrderApprovalStatusId)">{{currentIncident.purchaseOrder.header.purchaseOrderApprovalStatus}}</span></td>
                                    </tr>
                                    <tr><td>Supplier</td><td>{{currentIncident.purchaseOrder.header.supplierName}} ({{currentIncident.purchaseOrder.header.supplierAccountCode}})</td></tr>
                                    <tr><td>Net Total ex Vat</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueExVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>
                                    <tr><td>Total Vat</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>
                                    <tr><td>Net Total</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueInVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class=" col-xs-12 col-md-8">

                    <!-- PO Lines -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Purchase Order Lines</div>
                        <div class="panel-body">
                            <div class="incident-list">
                                <div dx-data-grid="purchaseOrderLinesGridSettings"></div>
                            </div>
                            <span class="foot-note">* Excluding Tax</span>
                            <span class="foot-note">** Excluding Tax and Discount</span>
                            <hr />
                            <p ng-if="!selectedLineNote">
                                Click on <span class="glyphicon glyphicon-blackboard"></span> in Note column above to view line note.
                            </p>
                            <div ng-if="selectedLineNote">
                                <div class="dx-field-label dx-field-label-vertical">Selected line note</div>
                                <div class="dx-field-value dx-field-value-vertical">
                                    <div ng-bind-html="selectedLineNote | ParagraphFormatFilter"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Incident Actions -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Incident actions</div>
                        <div class="panel-body">
                            <div class="incident-list">
                                <div dx-data-grid="incidentActionListGridSettings">
                                    <div data-options="dxTemplate:{ name:'actionDescriptionCellTemplate' }">
                                        <span class="text-info">{{data.actionDate | FusionDateTime}}: {{data.actionDescription}}</span><br />
                                        {{data.actionResolution}}<br/>
                                        <span ng-if="data.rejectReason!=''" class="text-danger">Rejection Reason: {{data.rejectReason}}</span><br />
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Linked Files -->
                    <div ng-if="currentIncident.purchaseOrder.attachments.length > 0">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Purchase Order File Attachments</div>
                            </div>
                            <div class="panel-body">
                                <div class="compact-table-font">
                                    <table class="table table-condensed table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>File name</th>
                                                <th>Date added</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="linkedFile in currentIncident.purchaseOrder.attachments">
                                                <td class="property-list-label" width="50%">{{linkedFile.fileName}}</td>
                                                <td class="property-list-label" width="25%">{{linkedFile.dateTimeAdded | FusionDateTime}}</td>
                                                <td class="property-list-value">
                                                    <a href=""
                                                       ng-click="authorisePurchaseOrdersCtrl.downloadFile(linkedFile.fileStoreLinkId)">Download</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div dx-popup="notificationPopupSettings">
    <div data-options="dxTemplate: { name:'title' }">
        <h3><span class="text-danger glyphicon glyphicon-exclamation-sign"></span> {{notificationPopupSettings.title}}</h3>
    </div>
    <div data-options="dxTemplate:{ name: 'content'}">
        <p>{{notificationMessage}}</p>
    </div>
</div>
