/* app css stylesheet */

.page-title {
  text-align: right;
  font-size: xx-large;
  font-family: sans-serif;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.select-list {
  cursor: pointer;
}

/* Main Menu CSS Start  */

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

@media (max-width: 767px) {

  .visible-xs.collapse.in {
    display: block !important;
  }

  .visible-xs.collapse {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

.navbar .collapse {
  border-top: 1px solid #e7e7e7;
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Main Menu CSS End  */

.modal-backdrop { /* This is a Bugfix for Bootstrap. See https://github.com/twbs/bootstrap/issues/15266 */
  bottom: 0;
}

.fusion-top-border {
  margin-top: 20px;
}

.fusion-order-line {
  margin-left: 20px;
  margin-right: 20px;
}

.property-list-label {
}

.property-list-value {
  text-align: right;
  font-weight: bold;
}

.tabContent {
  padding: 20px;
  height: auto;
  margin: 00px;
  border: 1px #e7e7e7 solid;
}

.dx-field-label-vertical {
  float: none;
  width: auto !important;
}

.dx-field-value-vertical {
  float: none;
  width: auto !important;
}

.panel-body-compact {
  padding: 3px !important;
}

.dx-field-label-compact {
  padding: 3px !important;
}

.dx-field-value-static-compact {
  padding: 3px !important;
}

.total-summary-value {
  text-align: right;
  font-weight: bold;
}

.value-lable-data {
  font-weight: bold;
}

td.order-number-column,
th.order-number-column {
  text-align: right;
}

.totals-table table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin-top: 15px;
}

.totals-table th,
.totals-table td {
  border: 1px solid #adadad;
  padding-left: 4px;
}

.purchase-order-budget-table table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-top: 5px;
}

.purchase-order-budget-table th,
.purchase-order-budget-table td {
  border: none;
  padding-left: 4px;
  padding-right: 4px;
}

.purchase-order-budget-value {
  text-align: right;
  font-weight: bold;
}

.purchase-order-budget-status-green {
  background-color: #66b933;
  color: white;
}

.purchase-order-budget-status-green-text {
  background-color: white;
  color: #66b933;
}

.purchase-order-budget-status-yellow {
  background-color: #ffcc33;
  color: black;
}

.purchase-order-budget-status-red {
  background-color: #ff3333;
  color: white;
}

.purchase-order-budget-status-text-red {
  margin-top: 5px;
  color: #ff3333;
  font-weight: bold;
}

.purchase-order-budget-status-text-green {
  margin-top: 5px;
  color: #339933;
  font-weight: bold;
}

.purchase-order-budget-status-text-black {
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

.compact-table-font {
  font-size: smaller;
}

.incident-list .dx-header-row,
.incident-list .dx-data-row {
  font-size: smaller;
}

.foot-note {
  font-size: 80%;
}

.fusion-purchase-order-waiting {
  font-weight: bold;
  color: orange;
}

.fusion-purchase-order-approved {
  font-weight: bold;
  color: green;
}

.fusion-purchase-order-rejected {
  font-weight: bold;
  color: red;
}

.deleted-object {
  text-decoration: line-through;
}

.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
