﻿<nav class="navbar navbar-default ng-cloak" ng-if="mainMenuCtrl.navigationMenuVisible">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" ng-click="mainMenuCtrl.toggleMobileMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="content/images/fusionEVOLUTION-menu.png" alt="fusionEVOLUTION" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" collapse="mainMenuCtrl.isCollapsed" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home" ng-click="mainMenuCtrl.menuLinkClick()">Home</a></li>
                <!--<li ui-sref-active="active"><a ui-sref="suppliers" ng-click="mainMenuCtrl.menuLinkClick()">Suppliers</a></li>-->

                <li dropdown ng-if="mainMenuCtrl.allowPurchaseOrdersMenu">
                    <!-- Purchase Orders Menu -->
                    <a class="dropdown-toggle" dropdown-toggle
                       data-toggle="dropdown"
                       role="button"
                       aria-expanded="false">Purchase Orders <span class="badge" ng-show="mainMenuCtrl.purchaseOrderCount > 0">{{mainMenuCtrl.purchaseOrderCount}}</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li ui-sref-active="active"><a ui-sref="viewPurchaseOrderList" ng-click="mainMenuCtrl.menuLinkClick()">List</a></li>-->
                        <li ui-sref-active="active"><a ng-click="mainMenuCtrl.ListPurchaseOrders()">List</a></li>
                        <li ui-sref-active="active"><a ng-click="mainMenuCtrl.NewPurchaseOrder()">New</a></li>
                        <li ui-sref-active="active" ng-if="mainMenuCtrl.allowMyAuthorisation"><a ng-click="mainMenuCtrl.AuthorisePurchaseOrders()">My Authorisations</a></li>
                        <li ui-sref-active="active" ng-if="mainMenuCtrl.allowCompletedAuthorisePurchaseOrders"><a ng-click="mainMenuCtrl.CompletedAuthorisePurchaseOrders()">Completed Authorisations</a></li>

                        <!--<li ui-sref-active="active"><a ui-sref="editPurchaseOrder" ng-click="mainMenuCtrl.menuLinkClick()">New2</a></li>-->
                    </ul>
                </li>

                <li dropdown ng-if="mainMenuCtrl.allowInventoryMenu">
                    <!-- Inventory Menu -->
                    <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Inventory <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active"><a ui-sref="inventory-item-enquiry" ng-click="mainMenuCtrl.menuLinkClick()">Enquiry</a></li>
                    </ul>
                </li>

                <li dropdown ng-if="mainMenuCtrl.allowCustomerMenu">
                    <!-- Customer Menu -->
                    <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Customer <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active"><a ui-sref="customer-enquiry" ng-click="mainMenuCtrl.menuLinkClick()">Enquiry</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li dropdown>
                    <!-- User Menu -->
                    <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i> {{mainMenuCtrl.userLabel}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="mainMenuCtrl.logout() && mainMenuCtrl.menuLinkClick()">Logout</a></li>
                        <!--<li class="divider"></li>
                        <li><a title="Company" ng-click="mainMenuCtrl.menuLinkClick()"><i class="glyphicon glyphicon-th-large"></i> {{mainMenuCtrl.currentUser.companyName}}</a></li>
                        <li><a title="Branch" ng-click="mainMenuCtrl.menuLinkClick()"><i class="glyphicon glyphicon-th"></i> {{mainMenuCtrl.currentBranch.branchName}}</a></li>-->
                        <li class="divider"></li>
                        <li><a ng-click="mainMenuCtrl.menuLinkClick()">Version {{appVersion}}</a></li>
                    </ul>
                </li>
                <li dropdown ng-if="mainMenuCtrl.allowSettingsMenu">
                    <!-- Settings Menu -->
                    <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active"><a ui-sref="incident-type-amount-limits" ng-click="mainMenuCtrl.menuLinkClick()">Incident type amount limits</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>