<div class="col-md-12">
    <div class="page-title">Incident type approval amount limits</div>

    <div class="row">
        <div class="col col-sm-12">
        <div dx-data-grid="listViewSettings"></div>
        </div>
    </div>

</div>
