﻿            <!-- Incident -->
            <div class="row">

                <div class=" col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-8">
                                    Incident ({{currentIncident.incidentNumber}})
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="OpenPurchaseOrder()" ng-show="hasPurchaseOrder()">Open purchase order</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-condensed table-hover">
                                <tbody>
                                    <tr><td>Created</td><td>{{currentIncident.dateCreated | FusionDateTime}}</td></tr>
                                    <tr><td>Last modified</td><td>{{currentIncident.dateLastModified | FusionDateTime}}</td></tr>
                                    <tr><td>Due date</td><td>{{currentIncident.dueDate | FusionDateTime}}</td></tr>
                                    <tr><td>Priority</td><td>{{currentIncident.incidentPriority}}</td></tr>
                                    <tr><td>Current Agent</td><td>{{currentIncident.currentAgentName}}</td></tr>
                                    <tr><td>Incident Type</td><td>{{currentIncident.incidentTypeDescription}}</td></tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            <span ng-class="incidentStatusClass(currentIncident.incidentStatusId)">{{currentIncident.incidentStatus}}</span>
                                        </td>
                                    </tr>
                                    <tr><td>Outline</td><td>{{currentIncident.incidentOutline}}</td></tr>

                                    <tr><td>Purchase Order</td>
                                        <td>
                                            {{currentIncident.purchaseOrder.header.purchaseOrderNumber}}
                                        </td></tr>
                                        <tr><td>Project</td><td>{{currentIncident.purchaseOrder.header.projectCode}}: {{currentIncident.purchaseOrder.header.projectName}}</td></tr>
                                        <tr>
                                            <td>Approval Status</td>
                                            <td><span ng-class="purchaseOrderApprovalStatusClass(currentIncident.purchaseOrder.header.purchaseOrderApprovalStatusId)">{{currentIncident.purchaseOrder.header.purchaseOrderApprovalStatus}}</span></td>
                                        </tr>
                                        <tr><td>Supplier</td><td>{{currentIncident.purchaseOrder.header.supplierName}} ({{currentIncident.purchaseOrder.header.supplierAccountCode}})</td></tr>
                                        <tr><td>Net Total ex Vat</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueExVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>
                                        <tr><td>Total Vat</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>
                                        <tr><td>Net Total</td><td>{{currentIncident.purchaseOrder.header.purchaseOrderValueInVAT | InventoryCostPriceFilter | CurrencyFilter:currentIncident.purchaseOrder.header.currencyId}}</td></tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class=" col-xs-12 col-md-8">

                      <!-- Approve/Reject -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">New Action</div>
                        </div>
                        <div class="panel-body">
                            <div ng-show="!isMyIncident()">This is not your incident. You may not approve or reject it.</div>
                            <div ng-show="!isApprovalPending()">This incident is closed.</div>


                            <div ng-show="isApprovalPending() && isMyIncident()">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="dx-field-label dx-field-label-vertical">Comments</div>
                                        <div class="dx-field-value dx-field-value-vertical">
                                            <div dx-text-area="actionCommentsSettings"
                                            ng-model="currentIncident.actionComments"></div>
                                        </div>
                                        <div class="dx-field-label dx-field-label-vertical">Rejection reason (Required if rejecting Purchase Order)</div>
                                        <div class="dx-field-value dx-field-value-vertical">
                                            <div dx-lookup="rejectReasonSettings"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="spacer15"></div>
                                        <div class="row">
                                            <div class="col-xs-5 col-lg-2">
                                                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="approveIncident()">Approve</button>
                                            </div>
                                            <div class="col-xs-2 col-lg-8">

                                            </div>
                                            <div class="col-xs-5 col-lg-2">
                                                <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="rejectIncident()">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- PO Lines -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Purchase Order Lines</div>
                        <div class="panel-body">
                            <div class="incident-list">
                                <div dx-data-grid="purchaseOrderLinesGridSettings">

                                    <div data-options="dxTemplate:{ name:'lineItemCodeCellTemplate' }">
                                        <span ng-show="$parent.enforceBudgets(data.accountBudgetData)">
                                            <span ng-class="$parent.getBudgetStatusClass(data.accountBudgetData)">&nbsp;{{data.lineItemCode}} {{$parent.getBudgetStatusMessage(data.accountBudgetData)}}&nbsp;</span>
                                        </span>
                                        <span ng-show="!$parent.enforceBudgets(data.accountBudgetData)">
                                            {{data.lineItemCode}}*
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <span class="foot-note">* Excluding Tax</span>
                            <span class="foot-note">** Excluding Tax and Discount</span>
                            <span class="foot-note">*** Budget over: Period, Ytd or both</span>
                            <hr/>
                            <p ng-if="!selectedLineNote">
                                Click on <span class="glyphicon glyphicon-blackboard"></span> in Note column above to view line note.
                            </p>
                            <div ng-if="selectedLineNote">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="dx-field-label dx-field-label-vertical">Selected line note</div></div>
                                    <div class="col-sm-2 col-sm-offset-4 col-xs-12"><span class="btn btn-block btn-xs btn-primary" ng-click="hideLineNote()">Hide line note</span></div>
                                </div>

                                <div class="dx-field-value dx-field-value-vertical">
                                    <div ng-bind-html="selectedLineNote | ParagraphFormatFilter" class="well well-sm text-primary"></div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Incident Actions -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Incident actions</div>
                        <div class="panel-body">
                            <div class="incident-list">
                                <div dx-data-grid="incidentActionListGridSettings">
                                    <div data-options="dxTemplate:{ name:'actionDescriptionCellTemplate' }">
                                        <span class="text-info">{{data.actionDate | FusionDateTime}}: {{data.actionDescription}}</span><br/>
                                        {{data.actionResolution}}
                                        <span>Reject Reason: {{data.rejectReason}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Linked Files -->
                    <fusion-file-attachments-panel linked-files="currentIncident.purchaseOrder.attachments"></fusion-file-attachments-panel>
                </div>
            </div>

            <div dx-popup="notificationPopupSettings">
                <div data-options="dxTemplate: { name:'title' }">
                    <h3><span class="text-danger glyphicon glyphicon-exclamation-sign"></span> {{notificationPopupSettings.title}}</h3>
                </div>
                <div data-options="dxTemplate:{ name: 'content'}">
                    <p>{{notificationMessage}}</p>
                </div>
            </div>

