﻿<!--general-ledger-->
<script src="app/core/business-objects/general-ledger/general-ledger-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/general-ledger/general-ledger-account-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/general-ledger/general-ledger-budgets.js?v=@Model.scriptVersion"></script>

