﻿<!--prompts-->
<script src="app/core/prompts/prompts-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/prompts/confirm-prompts-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/prompts/send-email-prompt-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/prompts/message-dialog-service.js?v=@Model.scriptVersion"></script>