﻿<script src="app/core/web-api/restangular-store.js?v=@Model.scriptVersion"></script>


<script src="app/core/web-api/agent-admin-web-api.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/application-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/customer-webapi-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/general-ledger-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/inventory-webapi-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/login-web-api.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/purchase-order-authorisation-webapi-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/purchase-orders-webapi-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/suppliers-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/tax-type-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/project-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/incident-type-web-api-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/data-source-services.js?v=@Model.scriptVersion"></script>


<script src="app/core/web-api/fusion-response-service.js?v=@Model.scriptVersion"></script>

<script src="app/core/web-api/web-api-config.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/web-api-event-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/web-api-error-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/web-api/web-api-service.js?v=@Model.scriptVersion"></script>




