﻿<script src="app/modules/settings/settings-module.js?v=@Model.scriptVersion"></script>
<script src="app/modules/settings/incident-type-amount-limits/incident-type-amount-limits-controller.js?v=@Model.scriptVersion"></script>
