﻿<script src="app/core/access-control/user-access-event-listener-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/authorise-state-change-service.js?v=@Model.scriptVersion"></script>

<script src="app/core/access-control/authentication-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/authentication-token-service.js?v=@Model.scriptVersion"></script>

<script src="app/core/access-control/current-user-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/current-user-store-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/current-user-event-service.js?v=@Model.scriptVersion"></script>

<script src="app/core/access-control/token-payload-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/user-access-event-service.js?v=@Model.scriptVersion"></script>


<script src="app/core/access-control/login-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/logout-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/access-control/login-event-service.js?v=@Model.scriptVersion"></script>


