﻿<!-- main application -->
<script src="app/app-module.js?v=@Model.scriptVersion"></script>


<!-- tools -->
<script src="app/modules/tools/tools-module.js?v=@Model.scriptVersion"></script>

<!--tools/login-sessions-->
<script src="app/modules/tools/login-sessions-module.js?v=@Model.scriptVersion"></script>
