﻿<script src="app/core/components/components-module.js?v=@Model.scriptVersion"></script>

<script src="app/core/components/loading-spinner-directive.js?v=@Model.scriptVersion"></script>

<script src="app/core/components/button-directives.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/editor-directives.js?v=@Model.scriptVersion"></script>

<script src="app/core/components/lookups/tax-type-lookup-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/lookups/project-auto-complete-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/lookups/project-lookup-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/lookups/incident-type-lookup-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/lookups/general-ledger-auto-complete-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/lookups/supplier-auto-complete-directive.js?v=@Model.scriptVersion"></script>

<script src="app/core/components/file-manager/download-files-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/file-manager/file-attachments-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/file-manager/file-attachments-panel-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/file-manager/upload-files-directive.js?v=@Model.scriptVersion"></script>
<script src="app/core/components/file-manager/upload-files-service.js?v=@Model.scriptVersion"></script>
