﻿
<script src="app/core/core-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/constants-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/tools/fusion-lodash.js?v=@Model.scriptVersion"></script>

<script src="app/core/services/notification-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/local-storage-module.js?v=@Model.scriptVersion"></script>

<!-- filters -->
<script src="app/core/filters/filters-module.js?v=@Model.scriptVersion"></script>

<!-- utility-services -->
<script src="app/core/services/pdf-viewer-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/math-utils-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/feature-switch-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/object-copy-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/analytics-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/navigation-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/services/cache-manager-service.js?v=@Model.scriptVersion"></script>

<!-- Error handling -->
<script src="app/core/exceptions/error-alert-module.js?v=@Model.scriptVersion"></script>
<script src="app/core/exceptions/exception-services.js?v=@Model.scriptVersion"></script>

<!--company-settings-->
<script src="app/core/business-objects/company-settings/company-settings-module.js?v=@Model.scriptVersion"></script>

<!-- company-defaults -->
<script src="app/core/business-objects/company-settings/company-defaults/company-defaults-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/currency-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/project-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/project-lookup-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/tax-type-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/tax-calculator-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/company-defaults/tax-type-lookup-service.js?v=@Model.scriptVersion"></script>



