﻿<!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->

<!-- <script src="lib/aws/aws-sdk-js-master/dist/aws-sdk.min.js"></script>
<script src="lib/aws/aws-sdk-mobile-analytics-js-master/dist/aws-sdk-mobile-analytics.min.js"></script>
 -->
<script src="lib/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="lib/dev-extreme/globalize.min.js"></script>
<script src="lib/bower_components/toastr/toastr.min.js"></script>

<script src="lib/bower_components/angular/angular.min.js"></script>
<script src="lib/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>

<script src="lib/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
<script src="lib/bower_components/angular-ui-date/src/date.js"></script>
<script src="lib/bower_components/angular-ui-select/dist/select.min.js" type="text/javascript"></script>
<script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

<script src="lib/ng-device-detector/re-tree.js"></script>
<script src="lib/ng-device-detector/ng-device-detector.min.js"></script>

<script src="lib/local-storage/ngStorage.min.js" type="text/javascript"></script>
<script src="lib/bower_components/lodash/dist/lodash.min.js" type="text/javascript"></script>
<script src="lib/bower_components/restangular/dist/restangular.min.js" type="text/javascript"></script>
<script src="lib/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

<script src="lib/bower_components/api-check/dist/api-check.min.js"></script>
<script src="lib/bower_components/angular-formly/dist/formly.min.js"></script>
<script src="lib/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>

<script src="lib/dev-extreme/dx.webappjs.js"></script>

<script src="lib/ng-file-upload-master/dist/ng-file-upload-shim.min.js"></script>
<script src="lib/ng-file-upload-master/dist/ng-file-upload.min.js"></script>