﻿<script src="app/modules/incidents/incident-status-label-format-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/incidents/incident-type-lookup-service.js?v=@Model.scriptVersion"></script>
<script src="app/core/business-objects/company-settings/incidents/incident-type-service.js?v=@Model.scriptVersion"></script>
