﻿<!-- Customer -->
<script src="app/modules/customer/customer-module.js?v=@Model.scriptVersion"></script>
<script src="app/modules/customer/customer-enquiry/customer-enquiry-controller.js?v=5S"></script>
