﻿<!-- Inventory -->
<script src="app/modules/inventory/inventory-module.js?v=@Model.scriptVersion"></script>
<script src="app/modules/inventory/inventory-item-enquiry/inventory-item-enquiry-controller.js?v=@Model.scriptVersion"></script>
