﻿<!-- Module and route configuration -->
<script src="app/modules/purchase-orders/purchase-orders-module.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/purchase-order-route-config.js?v=@Model.scriptVersion"></script>

<!--purchase-order-dx -->
<script src="app/modules/purchase-orders/edit-purchase-order/purchase-order-factory-service.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/edit-purchase-order/edit-purchase-order-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/edit-purchase-order/address-tab-service.js?v=@Model.scriptVersion"></script>

<script src="app/modules/purchase-orders/edit-purchase-order/general-ledger-line/edit-general-ledger-line-directive.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/edit-purchase-order/general-ledger-line/edit-general-ledger-line-directive-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/edit-purchase-order/inventory-item-line/inventory-item-auto-complete-configuration-service.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-orders/list-purchase-orders/list-purchase-orders-controller.js?v=@Model.scriptVersion"></script>

<!-- purchase order authorisations -->
<script src="app/modules/purchase-order-authorisation/list-authorise-purchase-orders-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-order-authorisation/authorise-purchase-order-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-order-authorisation/view-all-purchase-order-authorisations/view-purchase-order-authorisations-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-order-authorisation/authorise-incident-directive/authorise-purchase-order-incident-directive-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/purchase-order-authorisation/authorise-incident-directive/authorise-purchase-order-incident-directive.js?v=@Model.scriptVersion"></script>


