﻿<script src="app/modules/main-menu/main-menu-module.js?v=@Model.scriptVersion"></script>
<script src="app/modules/main-menu/main-menu-controller.js?v=@Model.scriptVersion"></script>
<script src="app/modules/main-menu/main-menu-directive.js?v=@Model.scriptVersion"></script>
<script src="app/modules/main-menu/main-menu-event-service.js?v=@Model.scriptVersion"></script>
