﻿<div class="ng-cloak">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" ng-show="errorAlertCtrl.hasErrorMessage()">
                <h4>{{errorAlertCtrl.errorMessage}} <button class="btn btn-link pull-right" ng-click="errorAlertCtrl.ClearError()">
                    <span title="Clear messages" class="glyphicon glyphicon-remove"></span></button>
                </h4>

                <div class="alert alert-warning" ng-repeat="error in errorAlertCtrl.errors">
                    <div class="row">
                        <div class="col-lg-9 col-xs-6">
                            <p><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>&nbsp;{{error.message}}</p>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <a class="btn btn-xs btn-danger pull-right" href="{{error.helpUrl}}" target="_blank">{{error.helpCaption}}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>