<div class="col-md-12 page-title">
    <div class="row">
        <div class="col-xs-3">
            <div><img class="center-block" src="content/images/logo.jpg" alt="Logo" /></div>
        </div>
        <div class="col-xs-9">
            <div class="page-title">Home</div>
        </div>
    </div>

</div>

