﻿<div class="row">
    <div class="col-xs-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-title">

                    <div class="row">
                        <div class="col-xs-9 col-md-11">Linked files</div>
                        <div class="col-xs-3 col-md-1">

                            <div ngf-select="uploadFiles($files, $newFiles, $invalidFiles)"
                                 ngf-keep="'distinct'"
                                 ng-model="selectedFiles"
                                 multiple
                                 accept="*/*" ngf-max-size="10MB"
                                 dx-button="addFileButtonSettings"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-body">

                <!-- Linked files table -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="compact-table-font" ng-show="linkedFiles.length > 0">
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>File name</th>
                                        <th>Date added</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="linkedFile in linkedFiles">
                                        <td class="property-list-label" width="75%">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <div dx-menu="{ items: fileActionMenuItems, onItemClick: fileActionMenuItemClicked, linkedFile: linkedFile }"></div>
                                                </div>
                                                <div class="col-xs-10">
                                                    {{linkedFile.fileName}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="property-list-label" width="25%">{{linkedFile.dateTimeAdded | FusionDateTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Upload progress -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" ng-repeat="file in files">
                            <div class="col-md-12 col-xs-12">
                                {{file.name}} {{file.$errorParam}}
                                <div ng-show="file.progress >= 0">
                                    <div dx-progress-bar="
                 {
                    min: 0,
                    max: 100,
                    showStatus: true,
                     bindingOptions: {
                        value: 'file.progress'
                     }
                 }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li ng-repeat="file in errFiles">
                            <span class="text-danger">{{file.name}} {{file.$error}} {{file.$errorParam}}</span>
                        </li>
                        {{errorMsg}}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div> 