﻿<p>
    <button ngf-select="uploadFiles($files, $newFiles, $invalidFiles)"
            ngf-keep="'distinct'"
            ng-model="selectedFiles"
            multiple
            accept="*/*" ngf-max-size="10MB"
            class="btn btn-primary">
        Select Files
    </button>
</p>

<div class="row" ng-repeat="file in files">
    <div class="col-md-6 col-xs-12">
        {{file.name}} {{file.$errorParam}}
        <div ng-show="file.progress >= 0">
            <div dx-progress-bar="
                 {
                    min: 0,
                    max: 100,
                    showStatus: true,
                     bindingOptions: {
                        value: 'file.progress'
                     }
                 }">
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div dx-button="{
             onClick: deleteUploadedFile
             }"><span class="icon dx-icon-remove"></span></div>
    </div>
</div>
<li ng-repeat="file in errFiles">
    <span class="text-danger">{{file.name}} {{file.$error}} {{file.$errorParam}}</span>
</li>
{{errorMsg}}
