﻿<div class="row">
    <div class="col-xs-4">
        <fusion-back-button on-click="GoBack()"></fusion-back-button>
    </div>
    <div class="col-xs-8">
        <div class="page-title">Incident</div>
    </div>
</div>

<div class="spacer50"></div>


<fusion-authorise-purchase-order-incident incident-settings="incidentSettings"></fusion-authorise-purchase-order-incident>

