﻿<div class="row">
    <div class="col-xs-12">
        <div class="page-title">Authorisations</div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-12">
        <div dx-data-grid="authorisationsGridSettings"></div>
    </div>

</div>

