<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Logged in sessions</h3>
        </div>
        <div class="panel-body">
            <div ng-show="loginSessionCtrl.loggedInSessions.length > 0">
                <p>
                    There are {{loginSessionCtrl.loggedInSessions.length}} users logged in.
                </p>
                <p>
                    <button class="btn btn-danger" ng-click="loginSessionCtrl.logoutAllSessions()">Remove All</button>
                </p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="loginSession in loginSessionCtrl.loggedInSessions">
                        <button class="btn btn-danger" ng-click="loginSessionCtrl.logoutSession(loginSession, $index)">Remove</button> {{loginSession}} <span class="badge">{{$index + 1}}</span>
                    </li>
                </ul>
            </div>
            <div ng-show="loginSessionCtrl.loggedInSessions.length === 0">
                There are no users logged in.
            </div>
        </div>

    </div>
</div>
