﻿<h1>Tools</h1>
<div ng-controller="ToolsController as toolsCtrl">


    <div class="panel panel-default">
        <div class="panel-heading">Ping</div>
        <div class="panel-body">
            <p>
                Ping result: {{toolsCtrl.fusionData.data.userIpAddress}}
            </p>
            <p>
                Ping request time: {{toolsCtrl.fusionData.requestTime}} ms
            </p>
            <button class="btn btn-primary" ng-click="toolsCtrl.ping()">Ping</button>
        </div>
    </div>

</div>