﻿<div class="col-md-12">
    <div class="page-title">Customer</div>
</div>

<div dx-tabs="mainTabSettings"></div>

<div ng-if="selectedMainTab == 0">
    <div class="tabContent">

        <div class="row">
            <div class="col col-sm-12">
                <div dx-text-box="searchBoxSettings"></div>
            </div>
        </div>
        <div class="row" ng-if="resultCount>0">
            <div class="col col-sm-12">
                <div class="dx-field-label">Found: {{resultCount}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div class="spacer15"></div>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div dx-data-grid="searchGridSettings"></div>
            </div>
        </div>

    </div>
</div>
<div ng-if="selectedMainTab == 1">
    <div class="tabContent">

        <div class="row" ng-if="detailTabData.customerId <= 0">
            <div class="col-sm-6">
                No customer selected. Please use the seach tab to find the customer you would like to see.
            </div>
        </div>
        <div ng-if="detailTabData.customerId > 0">
            <div class="row">
                <div class="col-sm-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">Customer Profile</div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover">
                                <tbody>
                                    <tr><td>Code</td><td>{{::detailTabData.customer.accountCode}}</td></tr>
                                    <tr><td>Customer Name</td><td>{{::detailTabData.customer.customerName}}</td></tr>
                                    <tr><td>Contact Person 1</td><td>{{::detailTabData.customer.contactPerson1}}</td></tr>
                                    <tr><td>Contact Person 2</td><td>{{::detailTabData.customer.contactPerson2}}</td></tr>
                                    <tr><td>Telephone Number 1</td><td>{{::detailTabData.customer.telephoneNumber1}}</td></tr>
                                    <tr><td>Telephone Number 2</td><td>{{::detailTabData.customer.telephoneNumber2}}</td></tr>
                                    <tr><td>Mobile Number</td><td>{{::detailTabData.customer.mobileNumber}}</td></tr>
                                    <tr><td>Fax Number</td><td>{{::detailTabData.customer.faxNumber}}</td></tr>
                                    <tr><td>Email Address</td><td>{{::detailTabData.customer.emailAddress}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">

                            <div dx-tabs="addressTabSettings"></div>
                            <div ng-if="selectedAddressTab == 0">
                                <div class="tabContent">
                                    {{::detailTabData.customer.streetAddress1}}<br/>
                                    {{::detailTabData.customer.streetAddress2}}<br />
                                    {{::detailTabData.customer.streetAddress3}}<br />
                                    {{::detailTabData.customer.streetAddress4}}<br />
                                    {{::detailTabData.customer.streetAddress5}}<br />
                                    {{::detailTabData.customer.streetAddressPostalCode}}<br />
                                </div>
                            </div>
                            <div ng-if="selectedAddressTab == 1">
                                <div class="tabContent">
                                    {{::detailTabData.customer.postalAddress1}}<br />
                                    {{::detailTabData.customer.postalAddress2}}<br />
                                    {{::detailTabData.customer.postalAddress3}}<br />
                                    {{::detailTabData.customer.postalAddress4}}<br />
                                    {{::detailTabData.customer.postalAddress5}}<br />
                                    {{::detailTabData.customer.postalAddressPostalCode}}<br />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contact People</div>
                        <div class="panel-body">
                            <div dx-data-grid="contactPeopleGridSettings"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>