<div class="row">&nbsp;</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div><img class="center-block" src="content/images/logo.jpg" alt="Logo" /></div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Sign In <img class="pull-right" src="content/images/fusionEVOLUTION-menu.png" alt="fusionEVOLUTION" /></div>
            </div>
            <div class="panel-body">

                <form role="form"
                name="loginForm"
                ng-submit="loginCtrl.login(loginCtrl.credentials)"
                novalidate>

                <fieldset class="form-group { 'has-error' : loginForm.userName.$invalid && loginCtrl.submitted }">
                    <input class="form-control" placeholder="Agent name" type="text" name="userName" autofocus="" ng-model="loginCtrl.credentials.userName" ng-required="true">
                    <p ng-show="loginForm.userName.$invalid && loginCtrl.submitted" class="text-danger">Your Agent name is required.</p>
                </fieldset>

                <fieldset class="form-group { 'has-error' : loginform.password.$invalid && loginCtrl.submitted }">
                    <input class="form-control" placeholder="Password" type="password" name="password" ng-model="loginCtrl.credentials.password" ng-required="true">
                    <p ng-show="loginForm.password.$invalid && loginCtrl.submitted" class="text-danger">Please enter your password.</p>
                </fieldset>

                <fieldset class="form-group { 'has-error' : loginForm.companyId.$invalid && loginCtrl.submitted }">

                    <select class="form-control"
                    name="companyId"
                    ng-model="loginCtrl.credentials.companyId"
                    ng-required="true"
                    ng-options="company.companyId as company.companyName for company in loginCtrl.companies | orderBy:'companyName'">
                        <option value="">Select company</option>
                    </select>

                    <p ng-show="loginForm.companyId.$invalid && loginCtrl.submitted" class="text-danger">Please select a company.</p>
                </fieldset>

                <fieldset class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" value="submit">Login</button>
                </fieldset>
            </form>

        </div>

    </div>

</div>
</div>

