﻿<div class="col-md-12">
    <div class="row">
        <div class="col-xs-3"><fusion-add-button on-click="AddPurchaseOrder()" hint="Add new Purchase Order"></fusion-add-button>
        </div>
        <div class="col-xs-9">
            <div class="page-title">Purchase Orders</div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-12">
        <div dx-data-grid="purchaseOrderGridSettings">
            <div data-options="dxTemplate:{ name:'actionCellTemplate' }">
                <fusion-button icon="doc"
                               hint="Print purchase order"
                               button-disabled="data.purchaseOrderApprovalStatusId != 2"
                               on-click="$parent.printPurchaseOrder(data)"></fusion-button>
                <fusion-button icon="email"
                               hint="Email purchase order"
                               button-disabled="data.purchaseOrderApprovalStatusId != 2"
                               on-click="$parent.emailPurchaseOrder(data)"></fusion-button>
            </div>
        </div>
    </div>

</div>

<div class="spacer50"></div>

<!--<fusion-authorise-purchase-order-incident incident-settings="incidentSettings"></fusion-authorise-purchase-order-incident>-->

<div class="spacer50"></div>

