﻿<div dx-popup="addGeneralLedgerLinePopupSetttings">
    <div data-options="dxTemplate:{ name: 'content'}">
        <div dx-scroll-view>


            <div class="row" ng-show="$parent.allowEdit">
                <div class="col-xs-12">
                    <fusion-general-ledger-label-auto-complete caption="Account" on-account-selected="onGeneralLedgerAccountSelected"></fusion-general-ledger-label-auto-complete>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <fusion-text-label-editor caption="Description" edit-model="editorGeneralLedgerLine.Description"></fusion-text-label-editor>

                </div>
                <div class="col-md-3 col-xs-12">
                    <fusion-value-label-vertical caption="Code">{{editorGeneralLedgerLine.selectedAccountCode()}}</fusion-value-label-vertical>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-9">

                   <div class="row">
                    <div class="col-sm-4">
                        <fusion-quantity-numeric-label-editor caption="Order Quantity"
                        edit-model="editorGeneralLedgerLine.OrderQuantity"></fusion-quantity-numeric-label-editor>
                    </div>

                    <div class="col-sm-4">
                        <fusion-amount-numeric-label-editor caption="Price (Excl)"
                        edit-model="editorGeneralLedgerLine.UnitPriceExVAT"
                        on-change="editorGeneralLedgerLine.onUnitPriceExVatChanged()"></fusion-amount-numeric-label-editor>
                    </div>

                    <div class="col-sm-4">
                        <fusion-amount-numeric-label-editor caption="Price (Incl)"
                        edit-model="editorGeneralLedgerLine.UnitPriceInVAT"
                        on-change="editorGeneralLedgerLine.onUnitPriceInVatChanged()"></fusion-amount-numeric-label-editor>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <fusion-tax-type-label-lookup caption="Tax Type"
                        on-tax-type-changed="editorGeneralLedgerLine.onTaxTypeChanged(e)"
                        selected-tax-type="editorGeneralLedgerLine.SelectedTaxType"></fusion-tax-type-label-lookup>
                    </div>

                    <div class="col-sm-4">
                        <fusion-amount-numeric-label-editor caption="Discount %"
                        edit-model="editorGeneralLedgerLine.LineDiscountPercentage"></fusion-amount-numeric-label-editor>
                    </div>

                    <div class="col-sm-4">
                        <div ng-show="allowProjectEntry">
                            <fusion-project-label-lookup caption="Project"
                            on-project-changed="onProjectChanged(e)"
                            selected-project="editorGeneralLedgerLine.SelectedProject"></fusion-project-label-lookup>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-3">

                <div class="row">
                    <div class="col-sm-12">
                        <fusion-memo-label-editor caption="Line note" number-of-rows="5" edit-model="editorGeneralLedgerLine.LineNote"></fusion-memo-label-editor>
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-6">
                <div ng-show="editorGeneralLedgerLine.SelectedGeneralLedgerAccount && EnforceBudgets">
                    <div class="totals-table" ng-class="budgetStatusClass">
                        <table>
                            <tr>
                                <td>Budget - Period <b>{{accountBudgetData.period}}</b> ending <b>{{accountBudgetData.periodEndDate | FusionDate}}</b>.</td>
                                <td>Unprocessed PO Balance <b>{{accountBudgetData.unprocessedPOValue | InventoryCostPriceFilter | CurrencyFilter}}</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div ng-class="periodBudgetMessageClass">Period {{periodBudgetMessage}}</div>
                                    <div class="purchase-order-budget-table">
                                        <table>
                                            <tr>
                                                <td>Budget:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.periodBudget | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Actual:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.periodActual | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Available:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.periodAvailable | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div ng-class="ytdBudgetMessageClass">Year to date {{ytdBudgetMessage}}</div>
                                    <div class="purchase-order-budget-table">
                                        <table>
                                            <tr>
                                                <td>Budget:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.ytdBudget | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Actual:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.ytdActual | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Available:</td>
                                                <td>
                                                    <div class="purchase-order-budget-value">{{accountBudgetData.ytdAvailable | InventoryCostPriceFilter | CurrencyFilter}}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="totals-table">
                    <table>
                        <tr>
                            <td>
                                <fusion-total-value-label caption="Discount amount">
                                    {{editorGeneralLedgerLine.LineDiscountAmountExVAT() | InventoryCostPriceFilter | CurrencyFilter:editorGeneralLedgerLine.purchaseOrder.supplier.currencyId}}
                                </fusion-total-value-label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fusion-total-value-label caption="Price (Excl)">
                                    {{editorGeneralLedgerLine.LineNetTotalExVAT() | InventoryCostPriceFilter | CurrencyFilter:editorGeneralLedgerLine.purchaseOrder.supplier.currencyId}}
                                </fusion-total-value-label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fusion-total-value-label caption="Price (Incl)">
                                    {{editorGeneralLedgerLine.LineNetTotalInVAT() | InventoryCostPriceFilter | CurrencyFilter:editorGeneralLedgerLine.purchaseOrder.supplier.currencyId}}
                                </fusion-total-value-label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>