﻿<div class="modal-header">
    <h3 class="modal-title">{{modalCtrl.Title}}</h3>
</div>

<div class="modal-body">
    <p>
        {{modalCtrl.Message}}
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="modalCtrl.yes()">Yes</button>
    <button type="button" class="btn btn-primary" ng-click="modalCtrl.no()">No</button>
</div>