﻿<div class="modal-header">
    <h3 ng-show="modalCtrl.errorMessage" class="modal-title" ng-class="{'text-danger': modalCtrl.errorMessage}">Error</h3>
    <h3 ng-show="!modalCtrl.errorMessage" class="modal-title">{{modalCtrl.Title}}</h3>
</div>

<div class="modal-body">
    <p ng-class="{'text-danger': modalCtrl.errorMessage}">
        {{modalCtrl.Message}}
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="modalCtrl.ok()">Ok</button>
</div>