﻿<div class="modal-header">
    <h3 class="modal-title">{{modalCtrl.Title}}</h3>
</div>
<form name="modalCtrl.emailForm" ng-submit="modalCtrl.send()">

    <div class="modal-body">
        <p>
            <formly-form model="modalCtrl.emailOptions" fields="modalCtrl.userFields">
            </formly-form>
        </p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="modalCtrl.emailForm.$invalid">Send</button>
        <button type="button" class="btn btn-primary" ng-click="modalCtrl.cancel()">Cancel</button>
    </div>

</form>
